.previewTitle {
    font-size: 1.5em;
    color: black;
    display: block; /* or inline-block */
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    text-align: center;

}

.tag {
    color: #A0A0A0;
    text-decoration: none;
    display: inline;
    padding: .33333rem .5rem;
    line-height: 1;
    border-radius: 2px;
    margin-right: .5em;
}

@media (max-width: 992px) {
    .preview {
        border-bottom: 2px solid #D7DBE0;
    }
}

.description {
    display: block; /* or inline-block */
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 10em;
    line-height: 1.8em;
    text-align: center;
}

h3:hover{
    color: mediumturquoise;
}