.categoryImage {
    /*
      Ensure golden ratio for the hero size while limiting it to some extend to
      the viewport width
    */
    max-width: 400px;
    max-height: 400px;
}

.categoryTitle {
    text-align: left;
}  

.categoryTitle:hover{
    text-decoration: underline mediumturquoise;
}

@media (max-width: 992px) {
    .categoryTitle {
        font-size: 2em;
        color: #2F3336;
        display: inline;
    }
}