.categoryTitle {
    font-size: 2em;
    color: #2F3336;
    display: inline;
}

.categoryTitle:hover{
    text-decoration: underline mediumturquoise;
}

@media (max-width: 992px) {
    .categoryTitle {
        font-size: 1em;
        color: #2F3336;
        display: inline;
    }
}