
.footerBox{
    justify-content: space-evenly;
    height: 4em;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    bottom: 0;
    color: white;
    flex-direction: row;
    display: flex;
    font-size: 0.5em;
}
