.navigation {
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #000;
    background-color: #fff;
    width: 100%;
    border-bottom: 2px solid grey;
    height: 100px;
    top: 0;
    left: 0;
    margin-bottom: 10px;
    z-index: 100;
}

.socialMedia {

}

.links {
    align-self: center;
}

.navigation a {
    text-decoration: none;
}

