.navigation {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    color: #000;
    background-color: #fff;
    width: 100%;
    border-bottom: 2px solid grey;
    top: 0;
    left: 0;
    margin-bottom: 10px;
}

.links {
    align-self: flex-start;
}

.navigation a {
    text-decoration: none;
}

.breadcrumb {
    color: #000000;
    font-size: 24px;
    text-decoration: underline #000000;
    padding: 6px;
    margin: 0;
}

.breadcrumb:hover {
    text-decoration: underline mediumturquoise;
}

