@font-face {
    font-family: "Avenir";
    font-weight: 400;
    font-style: normal;
    src: url("/avenir-400.woff2") format("woff2");
    font-display: swap;
}

.bergfreunde-dynamic-mobile { 
    margin-top: 40px;
}

.bergfreunde-dynamic-mobile a img{ 
    width: 100%;
    max-width: 350px;
}

.intro-text-container {
    width: calc(80% - 10vmin);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
}

.intro-text-container .intro-text {
    font-style: italic;
    margin-top: 0;
    font-size: 1.2em;
}

.headline-index {
    text-align: left;
    font-size: 2.5em;
}

.social-icons-desktop {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    padding: 1.5em 0 0 0;
}

.navigation-index {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.navigation-index .navigation-index-item {
    padding: 10px;
    font-size: 2em;
}

body {
    font-family: "Avenir", Tahoma, Arial, Helvetica, sasns-serif;
    font-size: 1em;
    line-height: 1.65;
    color: black;
    background: #fff;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

p {
    font-size: 1em;
}

img {
    display: inline-block;
    width: 100%;
    margin: 0;
    border-radius: 8px;
}

a {
    color: currentColor;
}

.banner-image-mobile {
    display: none;
}

.wrapper {
    width: calc(70% - 10vmin);
    margin: 0 auto 5em;
    padding: 5vmin 0;
}

.wrapper--index {
    width: calc(70% - 10vmin);
}

.article-wrapper {
    width: calc(50% - 10vmin);
    margin: 0 5em auto;
    padding: 5vmin 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    background: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    overflow-x: hidden;
}

.social-icons-desktop {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    padding: 1.5em;
}

.social-icons-mobile {
    display: none;
}

@media (max-width: 991px) {

    .intro-text-container {
        width: calc(100% - 10vmin);
    }
    .wrapper {
        width: calc(100% - 10vmin);
    }

    .wrapper--index {
        width: calc(100% - 10vmin);
    }

    .article-wrapper {
        width: calc(100% - 10vmin);
    }

    p {
        font-size: 1.2em;
    }

    img {
        width: 100%;
    }

    .navigation-index .navigation-index-item {
        padding: 10px;
        font-size: 1em;
    }


    .social-icons-mobile {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        padding: 1.5em;
    }

    .social-icons-desktop {
       display: none;
    }

    .banner-image-desktop {
        display: none;
    }

    .banner-image-mobile {
        display: block;
    }
}


/**
 * article grid
 */
.article-list {
    margin-top: 2.5em;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 10vmin;
    text-align: left;
}

@media (min-width: 300px) {
    .article-list {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

@media (min-width: 1000px) {
    .article-list {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

@media (min-width: 2040px) {
    .article-list {
        grid-template-columns: repeat(auto-fit, minmax(430px, 1fr));
    }
}

.category-list {
    margin-top: 3em;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 10vmin;
    text-align: left;
}

@media (min-width: 300px) {
    .category-list {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

@media (min-width: 1000px) {
    .category-list {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

@media (min-width: 2040px) {
    .category-list {
        grid-template-columns: repeat(auto-fit, minmax(430px, 1fr));
    }
}

.category-list li {
    display: inline;
}

.catbox {
    border-color: #3D5B80;
    border-style: solid;
}

/**
 *
 */
.section-headline {
    padding: 0 0 0.4em 0;
    margin: 0 0 5vmin 0;
    border-bottom: 1px solid #373F49;
    color: #000;
    font-weight: bold;
}

.section-bottomLine {
    padding: 0 0 0.4em 0;
    margin: 0 0 5vmin 0;
    color: #000;
    font-weight: bold;
}


/**
 *
 */
.list-inline {
    margin: 0;
    padding: 0;
    list-style: none;
}

.list-inline li {
    display: inline-block;
}

/**
    social bar
 */

.socialBar {
    left: 0;
    position: absolute;
    margin: 0 auto;
    width: 5em;
    height: 2em;
}

.socialIcon{
    padding: 5px;
}

.article-box {
}

.header_title{
    margin-top: 2em;
}


.home-title-container {
    background-color: #000;
    height: auto;
    padding: 1em 3em;
    margin: 2em;
    transition: transform 0.6s;
}

@media (max-width: 374px) {
    .home-title-container {
        padding: 1em 1em;
    }
}

.home-title {
    color: white;
    margin: 0;
    transition: transform 0.5s;
}

@media (min-width: 992px) {
    .home-title:hover {
        transform: scale(1.3);
        margin: 0;
    }

    .home-title-container:hover {
        transform: scale(1.3);
    }
}

.navigation-home-title {
    color: black;
    margin: 0;
    transition: transform 0.5s;
}

@media (min-width: 992px) {
    .navigation-home-title:hover {
        transform: scale(1.3);
        margin: 0;
    }

    .navigation-home-title-container:hover {
        transform: scale(1.3);
    }
}

/* KONTAKT PAGE */

.wrapper label{
    padding-right: 10px;
    display: inline-block;
    font-size: 18px;
}

.checkbox-container{
    padding-top: 10px;
}

.checkbox-container input{
    display: inline;
}

.checkbox-container label{
    display: inline;
    padding-left: 4px;
}

input[type=text]{
    padding: 6px;
    font-size: 14px;
}

input[type=email]{
    padding: 6px;
    font-size: 14px;
}

input[type=submit]{
    margin-top: 12px;
    width: auto;
    font-size: 18px;
    padding: 6px 8px;
    background-color: orange;
    color: white;
    border: 0 solid white;
}

input[type=submit]:hover{
    background-color: darkorange;
}

textarea {
    width: 300px;
    height: 100px;
    font-size: 14px;
    padding: 6px;
}






