@font-face {
    font-family: "Avenir";
    font-weight: 400;
    font-style: normal;
    src: url("/avenir-400.woff2") format("woff2");
    font-display: swap;
}

body {
    font-family: "Avenir", Tahoma, Arial, Helvetica, sasns-serif;
    font-size: 1em;
    line-height: 1.65;
    color: black;
    background: #fff;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

p {
    font-size: 1em;
}

img {
    display: inline-block;
    width: 50%;
    margin: 0em;
    border-radius: 8px;
}

#instagramImg {
    width: 125px;
    height: 125px;
}

#bfImg {
    width: 125px;
    height: 125px;
}

h1 {
    color: black;
    font-size: 2em;
}

h2 {
    font-size: 1em;
    font-weight: bold;
    color: black;
}

h3 {
    color: black;
    font-size: 2em;
    font-weight: bold;
}

a {
    color: currentColor;
}

.wrapper {
    width: calc(90% - 10vmin);
    margin: 10em auto 5em;
}

.wrapper--index{
    width: calc(90% - 10vmin);

}

.article-wrapper {
    width: calc(60% - 10vmin);
    margin: 5em auto;
    padding: 5vmin 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    background: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
}

@media (max-width: 992px) {
    .wrapper {
        width: calc(90% - 10vmin);
    }

    .wrapper-index{
        width: calc(90% - 10vmin);
    }

    .article-wrapper {
        width: calc(90% - 10vmin);
    }

    p {
        font-size: 1.0em;
    }

    h1 {
        font-size: 1.5em;
        font-weight: bold;
        color: black;

    }

    h2 {
        font-size: 1em;
        font-weight: bold;
        color: black;

    }

    h3 {
        color: black;
        font-size: 1.5em;
        font-weight: bold;
    }

    img {
        width: 100%;
    }
}


/**
 * article grid
 */
.article-list {
    margin-top: 3em;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 10vmin;
    text-align: center;

}

@media (min-width: 300px) {
    .article-list {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

@media (min-width: 1000px) {
    .article-list {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

.category-list {
    list-style: none;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 1vmin;
    text-align: center;
    align-self: flex-start;
    align-items: flex-start;
    padding: 0;
}

@media (max-width: 992px) {
    .category-list {
        list-style: none;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-gap: 1vmin;
        text-align: center;
        align-self: center;
        align-items: center;
        padding: 0;
    }
}

.category-list li {
    display: inline;
    padding: 0 20px;
}

.catbox {
    border-color: #3D5B80;
    border-style: solid;
}

/**
 *
 */
.section-headline {
    padding: 0 0 0.4em 0;
    margin: 0 0 5vmin 0;
    border-bottom: 1px solid #373F49;
    color: #000;
    font-weight: bold;
}

.section-bottomLine {
    padding: 0 0 0.4em 0;
    margin: 0 0 5vmin 0;
    color: #000;
    font-weight: bold;
}


/**
 *
 */
.list-inline {
    margin: 0;
    padding: 0;
    list-style: none;
}

.list-inline li {
    display: inline-block;
}

/**
    social bar
 */

.socialBar {
    left: 0;
    position: absolute;
    margin: 0 auto;
    width: 5em;
    height: 2em;
}

.article-box {
}

.socialIcon {
    height: 25px;
    width: 25px;
    margin: 0.5em;
}

@media (min-width: 1200px) {
    .socialIcon {
        height: 75px;
        width: 75px;
    }

    .socialBar {
        left: 0%;
        position: absolute;
    }
}

iframe {
    width: 100%;
    height: 100%;
}

@media (max-width: 992px) {
    iframe {
        width: 100%;
        height: 100%;
        padding: 0;
    }
}

.iframe-box {
    height: 500px;
    background-color: #2F3336;
    width: 100%;
    margin: 50px 0;
}

@media (max-width: 992px) {
    .iframe-box {
        height: 175px;
        margin-top: 35px;
    }
}

.header_title{
    margin-top: 2em;
}



